@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300;8..144,400;8..144,500;8..144,600;8..144,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.hamburger-menu {
  scrollbar-width: none; /* Firefox için */
  -ms-overflow-style: none; /* Internet Explorer için */
}

.hamburger-menu::-webkit-scrollbar {
  display: none; /* Diğer modern tarayıcılar için */
}

start-form input::placeholder {
  color: #ffffff;
  opacity: 0.5;
}
